<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- PAGE TITLE -->
      <h1 class="page__title my-3 text-center">
        Welcome to the Main Page &mdash;
      </h1>

      <!-- BLOCKQUOTE -->
      <blockquote class="blockquote">
        <p class="mb-0">
          Optimism is an occupational hazard of programming: feedback is the
          treatment.
        </p>
        <footer class="blockquote-footer">
          Kent Beck <cite title="Source Title">Agile Zone</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<h2 class="font-weight-bold text-center">
  <a routerLink="/login">Login</a>
</h2>
